[user]
	name = Oleksandr Kovalov
	email = oleksandr.kovalov.work@gmail.com
	signingkey = EF5CD418CCE64170
[core]
	editor = vim
[init]
	defaultBranch = main
[alias]
    l = log --oneline
    ln = log --oneline -n
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = oleksandr.kovalov.work@gmail.com
[commit]
	gpgsign = true
